<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a pet</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta21/shoelace.css">
  </head>
  <body>

    <h2>Add a pet</h2>

    <form action="/add/" method="POST">
      <fieldset>
      <legend>GENERAL INFO</legend>

      <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
      </p>

      <p>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species" />
      </p>

      <p>
        <label for="gender">Gender:</label>
        <input type="radio" id="gender" name="gender" value="Female" />Female
        <input type="radio" id="gender" name="gender" value="Male" />Male
        <!-- <input type="radio" id="gender" name="gender" value="Other" />Female -->
      </p>

      <p>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" />
      </p>
      </fieldset>

      <p>
        <button type="submit">Add pet</button>
      </p>
    </form>


  </body>
</html>
